<section class="am-m-banner" id="table-list">
    <div class="am-g am-g-fixed am-margin-bottom-sm am-m-Modular" style="box-shadow: 0 2px 3px rgba(0,0,0,.1); background-color: #fff;">
        <div class="am-scrollable-horizontal">
            <table class="am-table am-table-striped am-text-nowrap">
                <thead>
                    <tr>
                        <th class="am-text-sm">销售日期</th>
                        <th class="am-text-sm">上报金额</th>
                        <th class="am-text-sm">上报单数</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr>
                        <td>屈臣氏</td>
                        <td class="am-m-red">¥5,384,344.00</td>
                        <td class="am-m-red">3900单</td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</section>
    
<style>
    /*body {
        background-color: #f7f7f7;
    }
    tr {
        font-size: 10px;
    }
    .am-typeTitle {
        background-color: #38CDFA;
        height: 45px;
        padding: 15px 0px;
    }
    .am-content {
        font-size: 15px;
        line-height: 15px;
        color: #ffffff;
        margin: 0;
    }*/
</style>